@charset "UTF-8";
:root {
  --header-color: #2196F3;
  --primary-title-color: #ffffff;
  --second-text-color: #757575;
  --headlines-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--header-color);
}

.modal-close-icon {
  fill: currentColor;
}

.social-list {
  display: flex;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field:nth-child(5) {
  margin-bottom: 0px;
}

.modal-form-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
  transition: fill 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--header-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--header-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--header-color);
}

.modal-form-button {
  border: none;
  align-self: center;
  cursor: pointer;
  padding: 10px 55px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-box-label {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-check-box-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 9px;
}

@media screen and (min-width: 480px) {
  .modal-form-check-box-label {
    font-size: 12px;
  }
}

.modal-form-checkbox:checked + .modal-form-check-box-label::before {
  background-color: #2196f3;
  border-color: var(--header-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:focus + .modal-form-check-box-label::before {
  border-color: var(--header-color);
}

.modal-form-chekbox-link {
  color: var(--header-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

@media screen and (min-width: 450px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.backdrop {
  width: 100vw;
  height: 100vh;
  border-radius: 4px;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  position: fixed;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.team-icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-icon-item:last-child {
  margin-right: 0;
}

.team-icon-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:focus, .team-link:hover {
  background-color: #2196f3;
}

.team-link:focus .team-icon-svg,
.team-link:hover .team-icon-svg {
  fill: #ffffff;
}

.mobile-form-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu-item {
  display: block;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #2196f3;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-connect-tel {
  margin-bottom: 32px;
}

.mobile-connect-mail {
  margin-bottom: 64px;
}

.mobile-link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu-social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.header {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .menu__list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav__adress {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav__adress {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__adress {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .header__mail {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__mail {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header__mail {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .header__tel {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__tel {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header__tel {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn:hover, .burger-btn:focus {
  fill: #2196f3;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 48px 0 48px 25px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-close-btn {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

.mobile-close-btn:hover, .mobile-close-btn:focus {
  fill: #2196f3;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.header-connect {
  margin-left: auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .menu__list {
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1199px) {
  .nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__adress .nav__item + .nav__item {
    margin-left: 50px;
  }
}

.icon-mail {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:focus, .menu__link:hover {
  color: var(--header-color);
}

.menu__item.current::after {
  content: '';
  display: flex;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: #2196f3;
}

.header-connect {
  display: flex;
  align-items: baseline;
}

.header__tel {
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:focus, .header__tel:hover {
  color: var(--header-color);
}

.header__tel:focus .icon-mail,
.header__tel:hover .icon-mail {
  fill: var(--header-color);
}

.header__mail {
  align-items: center;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mail:focus, .header__mail:hover {
  color: var(--header-color);
}

.header__mail:focus .icon-mail,
.header__mail:hover .icon-mail {
  fill: var(--header-color);
}

.hero {
  background-color: #2f303a;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
    background-size: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    height: 600px;
    background-size: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop2x.jpg");
  }
}

.about {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about-headlines {
  margin-bottom: 10px;
  width: 100%;
  margin-top: 30px;
}

.about-list {
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
  .about-item:nth-child(4n) {
    margin-right: 0;
  }
  .about-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 767px) {
  .about-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.hero-icon-list {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  display: flex;
  border-radius: 4px;
  justify-content: center;
}

.hero-icon-list {
  flex-basis: calc(100% / 4 - 30px);
}

.hero-icon-item {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .hero-menu:not(:last-child) {
    margin-bottom: 30px;
  }
}

.hero-icon-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  padding-bottom: 30px;
}

.hero-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headlines-text-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-item {
    text-align: center;
  }
}

.hero-pages {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.hero-after-title {
  width: 100%;
}

.nav-item {
  display: flex;
}

.nav__adress .nav-item + .nav-item {
  margin-left: 50px;
}

.headlines {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (max-width: 1199px) {
  .headlines {
    font-size: 26px;
    line-height: 1.62;
    max-width: 480px;
  }
}

.hero-headlines {
  margin: 0 auto;
  margin-bottom: 40px;
}

.button-hero {
  border: none;
}

.button-service {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: #2196f3;
  font-family: inherit;
  cursor: pointer;
}

.activity-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity-container {
    display: block;
  }
}

.activity-text {
  position: absolute;
  padding: 27px 83px;
  bottom: 0;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
}

.activity-photo-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
}

.about-activity-item {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .activity {
    padding-bottom: 94px;
  }
}

.activity-headlines {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.activity-photo {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.activity-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about-teams {
  text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-teams {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-teams {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-teams {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .teams-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .teams-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-photo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-photo:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-photo {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-photo {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team-photo-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
}

.team-pages {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.headline-teams {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}

@media screen and (min-width: 1200px) {
  .headline-teams {
    font-size: 36px;
    line-height: 1.17;
  }
}

.headline-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}

.team-pages {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.customers {
  padding: 60px 0;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customer-icon-list:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .customer-icon-list {
    flex-basis: calc(100% / 2 - 30px);
  }
}

.customer-icon-list {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .customer-icon-list {
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .customer-icon-list {
    margin-top: 50px;
  }
}

.customer-link {
  align-items: center;
  justify-content: center;
  height: 92px;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover, .customer-link:focus {
  border-color: #2196f3;
}

.customer-link:hover .customer-icon-item,
.customer-link:focus .customer-icon-item {
  fill: #2196f3;
}

.customer-list {
  display: flex;
  margin-right: -30px;
}

@media screen and (max-width: 1199px) {
  .customer-list {
    flex-wrap: wrap;
  }
}

.customer-icon-item {
  width: 106px;
  height: 60px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headline-customers {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}

@media screen and (min-width: 1200px) {
  .headline-customers {
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo__footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .footer-adress-social {
    margin-right: 70px;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress-social {
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    display: flex;
    margin-bottom: 60px;
  }
}

.footer-icon__list {
  display: flex;
  justify-content: center;
}

.footer-icon-svg {
  fill: #ffffff;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-adress {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-adress {
    align-items: center;
  }
}

.footer__list .footer__item + .footer__item {
  margin-top: 9px;
}

@media screen and (max-width: 1199px) {
  .footer__item {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .social-footer {
    margin-bottom: 60px;
  }
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--primary-title-color);
}

.footer-item__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer__list {
  font-style: normal;
}

.footer-container {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
}

.footer-icon__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon__link:hover, .footer-icon__link:focus {
  background: #2196f3;
}

.footer-icon__item {
  width: 44px;
  height: 44px;
}

.footer-icon__item:not(:last-child) {
  margin-right: 10px;
}

.address-footer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .address-footer {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .address-footer {
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address-footer {
    margin-bottom: 60px;
  }
}

/* Подписатся футер */
.subscribe {
  margin-left: auto;
  display: flex;
}

@media screen and (min-width: 768px) {
  .subscribe {
    display: flex;
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}

.subscribe-form-pages {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .subscribe-form-pages {
    text-align: center;
  }
}

.modal-form__mail {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  outline: none;
}

.modal-form__mail:focus {
  outline: none;
  border-color: var(--header-color);
}

@media screen and (max-width: 1199px) {
  .modal-form__mail {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__mail {
    width: 350px;
  }
}

.subscribe-form__button {
  display: inline-flex;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .subscribe-form__button {
    margin-top: 20px;
    display: flex;
  }
}

.submit-icon {
  margin-left: 10px;
}

/* porfolio main*/
@media screen and (min-width: 1199px) {
  .button-item .button-item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .button-item {
    margin-top: 15px;
  }
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-container {
  display: flex;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .buttons-container {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 767px) {
  .buttons-container {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buttons-container {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) {
  .buttons {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .buttons {
    padding: 60px 0px;
  }
}

.button-chapter {
  cursor: pointer;
  font-family: inherit;
}

.button-chapter {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-chapter:hover, .button-chapter:focus {
  background-color: var(--header-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--primary-title-color);
}

.photo-headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  color: var(--headlines-text-color);
}

.photo-headline-letter {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-bottom: 4px;
  color: var(--headlines-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .photo-headline-letter {
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1200px) {
  .photo-headline-letter {
    letter-spacing: 0;
  }
}

.photo-pages {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.photo-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin: 0 auto;
}

.photo-item {
  margin-left: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-item:focus, .photo-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.photo-item:hover .photo-text {
  transform: translateY(0);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .photo-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .photo-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 15px;
    margin-right: 15px;
    width: 370px;
  }
  .photo-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .photo-item {
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 3 - 30px);
    width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .photo-item:nth-child(3n) {
    margin-right: 0;
  }
  .photo-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.photo-item-wrap {
  position: relative;
  overflow: hidden;
}

.photo-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-description {
  padding: 20px 24px;
  width: 100%;
  border: 1px solid #eeeeee;
  border-top: 0;
}

@media screen and (min-width: 1200px) {
  .photo-description {
    width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */