.activity-container {
  @media screen and (min-width: 1200px) {
    display: block;
  }
  display: none;
}

.activity-text {
  position: absolute;
  padding: 27px 83px;
  bottom: 0;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
}

.activity-photo-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
}

.about-activity-item {
  text-align: center;
}

.activity {
  padding-bottom: 94px;
}

.activity-headlines {
  margin-bottom: 50px;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.activity-photo {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.activity-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}
