.web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  width: 100%;

  @media screen and (min-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}
.burger-btn-icon {
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  margin-right: 93px;
}

.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}

.header-connect {
  margin-left: auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav__adress {
  display: flex;
}

.menu__list {
  display: flex;
  display: none;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav__adress .nav__item + .nav__item {
  margin-left: 50px;
}

.icon-mail {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headlines-text-color);
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--header-color);
  }
}

.menu__link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
}

.header-connect {
  display: flex;
  align-items: baseline;
}

.header__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: none;

  &:focus,
  &:hover {
    color: var(--header-color);
  }

  &:focus .icon-mail,
  &:hover .icon-mail {
    fill: var(--header-color);
  }
}

.header__mail {
  display: flex;
  display: none;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--header-color);
  }

  &:focus .icon-mail,
  &:hover .icon-mail {
    fill: var(--header-color);
  }
}
