/* porfolio main*/
.button-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-chapter {
  cursor: pointer;
  font-family: inherit;
}

.button-chapter {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--header-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--primary-title-color);
  }
}

.photo-headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  color: var(--headlines-text-color);
}

.photo-pages {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.photo-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin: 0 auto;
}

.photo-item {
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 30px;

  flex-basis: calc(100% / 3 - 30px);
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    display: block;

    &:hover .photo-text {
      transform: translateY(0);
    }
  }
}

.photo-item:nth-child(3n) {
  margin-right: 0;
}

.photo-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.photo-item-wrap {
  position: relative;
  overflow: hidden;
}

.photo-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-description {
  padding: 20px 24px;
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
