.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  width: 100%;
}

.about-teams {
  text-align: center;
  margin-bottom: 50px;
}

.teams-menu {
  // display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-photo {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-photo-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
}

.team-pages {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.headline-teams {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}

.headline-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headlines-text-color);
}

.team-pages {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
